#battlefield {
	padding:20px 0;
	background:lightgrey;
}
.mon {
	display:inline-block;
	color:red;
	text-align: center;
}
#log {
	border-top:1px solid black;
	padding:20px 0;
	text-align: center;
}
.controlarea {
	clear:both;
	text-align: center;
}
